.title  {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: #fff;
        text-align: left;
    }

    @include laptop() {
        font-size: clamp(19px, 0.672rem + 2.576vw, 36px);;
    }
}